@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");

h1 {
    font-size: 50px;
    text-decoration: solid;
}

h3{
    font-size: 30px;
}

p{
    font-size: 25px;
}


body {
    background-color: #a1c0d5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Annie Use Your Telescope', cursive;
    text-align: center;
}

img {
    width: 500px;
    height: auto;
}

#cat-form label {
    font-weight: bold;
    font-size: 20px;
}

